{% extends "::base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/portfolio/css/main.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/portfolio/css/admin.css') }}" />
{% endblock %}

{% block header %}
    <h1>Aitor García » Backend</h1>
    <ul id="navigation">
    {% block navigation %}
        <li{% if app.request.attributes.get('_route') == 'admin_index' %} class="active"{% endif %}>
            <a href="{{ path('admin_index') }}">Portada</a>
        </li>
        <li{% if 'admin_project_' in app.request.attributes.get('_route') %} class="active"{% endif %}>
            <a href="{{ path('admin_project_list') }}">Proyectos</a>
        </li>
        <li{% if 'admin_technology_' in app.request.attributes.get('_route') %} class="active"{% endif %}>
            <a href="{{ path('admin_technology_list') }}">Tecnologías</a>
        </li>
    {% endblock %}
    </ul>
    <div class="clear"></div>
{% endblock %}
