{% extends "::base.html.twig" %}

{% if form is defined %}
{% form_theme form ':Form:fields.html.twig' %}
{% endif %}

{% block header %}
    <h1>Aitor García</h1>
    <ul id="navigation">
    {% block navigation %}
    {% endblock %}
    </ul>
    <div class="clear"></div>
{% endblock %}

{% block subnavigation %}
<ul id="lang-selector">
    {% if app.request.locale == 'es' %}
    <li class="active"><a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params') | merge({'locale': 'es'})) }}">ES</a></li>
    <li><a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params') | merge({'locale': 'en'})) }}">EN</a></li>
    {% else %}
    <li><a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params') | merge({'locale': 'es'})) }}">ES</a></li>
    <li class="active"><a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params') | merge({'locale': 'en'})) }}">EN</a></li>
    {% endif %}
</ul>
{% endblock %}

{% block footer %}
<ul id="social-icons">
    <li><a id="icon-github" href="https://github.com/Falc" title="Github">Github</a></li>
    <li><a id="icon-bitbucket" href="https://bitbucket.org/Falc" title="Bitbucket">Bitbucket</a></li>
    <li><a id="icon-masterbranch" href="https://masterbranch.com/Falc" title="Masterbranch">Masterbranch</a></li>
    <li><a id="icon-linkedin" href="http://www.linkedin.com/in/aitorgarciamartinez" title="Linkedin">Linkedin</a></li>
</ul>

<div id="more-info">
    Aitor García Martínez | <a href="#">{{ 'footer.more_information' | trans }}</a> | <a href="#">{{ 'footer.source_code' | trans }}</a>
</div>
<div class="clear"></div>
{% endblock %}
