{% extends "::base_admin.html.twig" %}

{% block stylesheets %}
{% stylesheets filter="cssrewrite,?yui_css" output='css/min/backend-*.css'
    'css/base.css'
    'css/tables.css'
    'css/forms.css'
    'css/tinymce.css'
    'bundles/aitorgarciablog/css/admin_comment.css'
%}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/bootstrap3-typeahead.min.js') }}" type="text/javascript"></script>
{% endblock %}

{% block infotext %}{{ 'comments.title.edit' | trans }}{% endblock %}

{% block page %}
<div class="row">
    <div id="comment-edit" class="block col-sm-12">
        <form action="{{ path('blog_admin_comment_edit', { 'id': comment_id }) }}" method="post" {{ form_enctype(form) }}>
            <fieldset>
                <div class="row">
                    <div class="form-group block col-sm-6">
                        {{ form_label(form.authorName, 'field.author' | trans ) }}
                        {{ form_widget(form.authorName) }}
                        {{ form_errors(form.authorName) }}
                    </div>
                    <div class="form-group block col-sm-6">
                        {{ form_label(form.authorEmail, 'field.email' | trans ) }}
                        {{ form_widget(form.authorEmail) }}
                        {{ form_errors(form.authorEmail) }}
                    </div>
                    <div class="form-group block col-sm-12">
                        {{ form_label(form.body, 'field.body' | trans ) }}
                        {{ form_widget(form.body) }}
                        {{ form_errors(form.body) }}
                    </div>
                </div>
                {{ form_widget(form._token) }}
            </fieldset>
            <div id="form-actions">
                <input class="btn btn-primary" type="submit" name="save" value="{{ 'button.save_changes' | trans }}" />
            </div>
        </form>
    </div>
</div>

{{ tinymce_init() }}

<script type="text/javascript">
    $(function() {
        // Replace the submit input with a button+icon
        var inputSave = $('input[name="save"]');

        var btnSave = $('<button>').attr({
            'type': 'submit',
            'name': 'save'
        });
        btnSave.addClass('btn btn-primary btn-icon');
        btnSave.append('<span class="icon icon-submit"></span>' + "{{ 'button.save_changes' | trans }}");

        inputSave.replaceWith(btnSave);
    });
</script>
{% endblock %}
