{% extends "::base_admin.html.twig" %}

{% block stylesheets %}
{% stylesheets filter="cssrewrite,?yui_css" output='css/min/backend-*.css'
    'css/base.css'
    'css/tables.css'
    'css/forms.css'
    'css/tinymce.css'
    'bundles/aitorgarciablog/css/admin_post.css'
%}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block infotext %}{{ 'posts.title.list' | trans }}{% endblock %}

{% block page %}
<div id="options" class="row">
    <div id="actions" class="block pull-right">
        <a href="{{ path('blog_admin_post_create') }}" class="btn btn-primary btn-icon">
            <span class="icon icon-add"></span>{{ 'button.create' | trans }}
        </a>
    </div>
</div>

{% if app.session.flashbag.keys() is not empty %}
<div id="alerts" class="row">
    {% for type, messages in app.session.flashbag.all() %}
    <div class="alert alert-dismissable alert-{{ type }}">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endif %}

<div class="row">
    <div id="post-list" class="block col-sm-12 table-responsive">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="shrink text-center">{{ 'field.id' | trans }}</th>
                        <th>{{ 'field.title' | trans }}</th>
                        <th>{{ 'field.body' | trans }}</th>
                        <th>{{ 'field.created_at' | trans }}</th>
                        <th class="shrink text-center">{{ 'field.actions' | trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                    <tr>
                        <td class="text-center">{{ post.id }}</td>
                        <td>{{ post.title | truncate(35, true) }}</td>
                        <td>{{ post.body | striptags | truncate(40, true) }}</td>
                        <td>
                            {# I don't like to repeat the localization, but the format option is uglier #}
                            {{ post.createdAt | localizeddate('medium', 'none', current_locale) }} - {{ post.createdAt | localizeddate('none', 'short', current_locale) }}
                        </td>
                        <td class="text-center nowrap">
                            <a class="btn btn-primary btn-icon btn-icon-notext" href="{{ path('blog_admin_post_edit', { 'id': post.id }) }}" title="{{ 'button.edit_ext' | trans }}">
                                <span class="icon icon-edit">{{ 'button.edit' | trans }}</span>
                            </a>
                            <a class="btn btn-danger btn-icon btn-icon-notext" href="{{ path('blog_admin_post_delete', { 'id': post.id }) }}" title="{{ 'button.delete_ext' | trans }}">
                                <span class="icon icon-cancel">{{ 'button.delete' | trans }}</span>
                            </a>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="5">{{ 'posts.message.empty_list' | trans }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {{ knp_pagination_render(posts) }}
</div>
{% endblock %}
