{% extends "::layout.html.twig" %}

{% block stylesheets %}
{% stylesheets filter="cssrewrite,?yui_css" output='css/frontend-*.css'
    'css/main.css'
    'bundles/app/css/more-info.css'
%}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block subnavigation %}
<h2>{{ 'titles.more_info' | trans }}</h2>
{{ parent() }}
{% endblock %}

{% block page %}
<div id="block-source-code">
    <h3>{{ 'more_info.source_code' | trans | raw }}</h3>
    <p>{{ 'more_info.developed_with' | trans | raw }}</p>
    <p>{{ 'more_info.get_source' | trans | raw }}</p>
</div>
<div id="block-icons">
    <h3>{{ 'more_info.icons' | trans }}</h3>
    <p>{{ 'more_info.yusuke_icons' | trans | raw }}</p>
</div>
{% endblock %}
