{% extends "AitorGarciaUserBundle::layout.html.twig" %}

{% block title %}{{ 'login.title' | trans }} - Aitor García{% endblock %}

{% block stylesheets %}
{% stylesheets filter="cssrewrite,?yui_css" output='css/frontend-*.css'
    'css/main.css'
    'css/forms.css'
%}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block subnavigation %}
<h2>{{ 'login.title' | trans }}</h2>
{{ parent() }}
{% endblock %}

{% block fos_user_content %}
{% if error %}
    <div id="login-error" class="message-error">
        {{ error|trans({}, 'FOSUserBundle') }}
    </div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
	<fieldset>
		<legend>{{ 'login.legend.info' | trans }}</legend>
        <div class="_100">
            <label for="username">{{ 'field.username' | trans }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
        </div>
        <div class="_100">
            <label for="password">{{ 'field.password' | trans }}</label>
            <input type="password" id="password" name="_password" required="required" />
        </div>
        <div class="_100">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'field.remember_me' | trans }}</label>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    </fieldset>
    <input class="button" type="submit" id="_submit" name="_submit" value="{{ 'button.log_in' | trans }}" />
</form>
{% endblock fos_user_content %}
