{% extends "::base.html.twig" %}

{% block stylesheets %}
{% stylesheets filter="cssrewrite,?yui_css" output='css/min/frontend-*.css'
    'css/base.css'
    'bundles/aitorgarciamain/css/index.css'
%}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block title %}Aitor García - {{ 'index.title' | trans }}{% endblock %}

{% block infotext %}{{ 'index.subnavigation' | trans }}{% endblock %}

{% block page %}
<div class="row">
    <div id="about-me" class="block col-sm-6">
        <h2>{{ 'index.heading.about_me' | trans }}</h2>
        <span class="index-icon index-icon-person"></span>
        <p>{{ 'index.paragraph.about_me' | trans | raw }}</p>
    </div>
    <div id="web-developer" class="block col-sm-6">
        <h2>{{ 'index.heading.web_developer' | trans }}</h2>
        <span class="index-icon index-icon-document"></span>
        <p>{{ 'index.paragraph.web_developer' | trans }}</p>
    </div>
    <div class="clearfix"></div>
    <div id="free-software" class="block col-sm-6">
        <h2>{{ 'index.heading.free_software' | trans }}</h2>
        <span class="index-icon index-icon-linux"></span>
        <p>{{ 'index.paragraph.free_software' | trans }}</p>
    </div>
    <div id="knowledge" class="block col-sm-6">
        <h2>{{ 'index.heading.knowledge' | trans }}</h2>
        <span class="index-icon index-icon-books"></span>
        <p>{{ 'index.paragraph.knowledge' | trans }}</p>
    </div>
    <div class="clearfix"></div>
    <div id="this-website" class="block col-sm-6">
        <h2>{{ 'index.heading.this_website' | trans }}</h2>
        <span class="index-icon index-icon-showcase"></span>
        <p>{{ 'index.paragraph.this_website' | trans }}</p>
    </div>
    <div id="some-links" class="block col-sm-6">
        <h2>{{ 'index.heading.some_links' | trans }}</h2>
        <span class="index-icon index-icon-sign"></span>
        <p>{{ 'index.paragraph.some_links' | trans (account_links) | raw }}</p>
    </div>
</div>
{% endblock %}
