{% extends "::admin_layout.html.twig" %}

{% block stylesheets %}
{% stylesheets
    'css/main.css'
    'bundles/portfolio/css/admin.css'
    output='css/backend-*.css' filter="cssrewrite" %}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block navigation %}
<li><a href="{{ path('admin_index') }}">Portada</a></li>
<li class="active"><a href="{{ path('admin_project_list') }}">Proyectos</a></li>
<li><a href="{{ path('admin_technology_list') }}">Tecnologías</a></li>
{% endblock %}

{% block subnavigation %}
<ul>
    <li class="active"><a href="{{ path('admin_project_list') }}">Lista</a></li>
    <li><a href="{{ path('admin_project_create') }}">Crear</a></li>
    <div class="clear"></div>
</ul>
{% endblock %}

{% block page %}
{% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
        <div class="message-{{ type }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

<table>
    <thead>
        <tr>
            <th class="shrink">ID</th>
            <th>Nombre</th>
            <th>Enlace</th>
            <th class="shrink">Traducciones</th>
            <th class="shrink">Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for project in projects %}
        <tr>
            <td class="centered">{{ project.id }}</td>
            <td>{{ project.name }}</td>
            <td>{{ project.link }}</td>
            <td class="centered">
                <a class="button-img" href="{{ path('admin_project_translation_edit', { 'id': project.id, 'lang': 'en' }) }}" title="Inglés">EN</a>
            </td>
            <td class="centered">
                <a class="button-img" href="{{ path('admin_project_edit', { 'id': project.id }) }}" title="Modificar el proyecto"><img src="/bundles/portfolio/images/edit.png" alt="Modificar el proyecto" /></a>
                <a class="button-img" href="{{ path('admin_project_delete', { 'id': project.id }) }}" title="Eliminar el proyecto"><img src="/bundles/portfolio/images/delete.png" alt="Eliminar el proyecto" /></a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td class="centered" colspan="4">No hay ningún proyecto</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
