{% extends "::admin_layout.html.twig" %}

{% block stylesheets %}
{% stylesheets filter="cssrewrite,?yui_css" output='css/backend-*.css'
    'css/main.css'
    'css/forms.css'
    'bundles/portfolio/css/admin.css'
%}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block navigation %}
<li><a href="{{ path('admin_index') }}">Portada</a></li>
<li class="active"><a href="{{ path('admin_project_list') }}">Proyectos</a></li>
<li><a href="{{ path('admin_technology_list') }}">Tecnologías</a></li>
{% endblock %}

{% block subnavigation %}
<ul>
    <li><a href="{{ path('admin_project_list') }}">Lista</a></li>
    <li><a href="{{ path('admin_project_create') }}">Crear</a></li>
    <div class="clear"></div>
</ul>
{% endblock %}

{% block page %}
<h2>Traducción de "{{ project_name }}" a "{{ lang }}"</h2>
<form action="{{ path('admin_project_translation_edit', { 'id': project_id, 'lang': lang }) }}" method="post" {{ form_enctype(form) }}>
	<fieldset>
		<legend>Información</legend>
        <div class="_100">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        <div class="_100">
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
        </div>
        {{ form_widget(form._token) }}
    </fieldset>
    <fieldset>
        <legend>Imágenes</legend>
        <div id="screenshots">
        {% for screenshot in form.screenshots %}
            {% include 'PortfolioBundle:Admin:project_screenshot_row.html.twig' with {'screenshot': screenshot} %}
        {% endfor %}
        </div>
    </fieldset>
	<input class="button" type="submit" name="save" value="Guardar" />
</form>
{{ tinymce_init() }}
{% endblock %}
