<div class="screenshot row">
    <div class="screenshot-name form-group block col-md-5">
        {{ form_widget(screenshot.name) }}
    </div>
    <div class="screenshot-file form-group block col-md-5">
        <input class="form-control" type="text" name="fake_path" value="{{ screenshot.vars.value.getPath }}" readonly="readonly" />
    </div>
    <div class="screenshot-actions block col-md-2">
        <a class="btn btn-primary btn-icon btn-icon-notext" data-id="btn-up" href="javascript:;" title="{{ 'button.move_up_ext' | trans }}">
            <span class="icon icon-up">{{ 'button.move_up' | trans }}</span>
        </a>
        <a class="btn btn-primary btn-icon btn-icon-notext" data-id="btn-down" href="javascript:;" title="{{ 'button.move_down_ext' | trans }}">
            <span class="icon icon-down">{{ 'button.move_down' | trans }}</span>
        </a>
        <a class="btn btn-danger btn-icon btn-icon-notext" data-id="btn-remove" href="javascript:;" title="{{ 'button.remove_image' | trans }}">
            <span class="icon icon-remove">{{ 'button.remove_image' | trans }}</span>
        </a>
    </div>
    {{ form_widget(screenshot.weight) }}
</div>
