{% extends "::layout.html.twig" %}

{% block stylesheets %}
{% stylesheets filter="cssrewrite,?yui_css" output='css/backend-*.css'
    'css/main.css'
%}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block subnavigation %}
<ul>
    <li><a href="{{ path('admin_project_list') }}">Lista</a></li>
    <li><a href="{{ path('admin_project_create') }}">Crear</a></li>
    <div class="clear"></div>
</ul>
{% endblock %}

{% block page %}
<h2>Eliminar proyecto</h2>
<form action="{{ path('admin_project_delete', { 'id': project_id }) }}" method="post">
    <p>¿Estás seguro de que quieres eliminar el proyecto?</p>

    {{ form_rest(form) }}

	<input class="button" type="submit" name="save" value="Confirmar" />
	<input class="button" type="submit" name="cancel" value="Cancelar" />
</form>
{% endblock %}
