{% extends "::base_admin.html.twig" %}

{% block stylesheets %}
{% stylesheets filter="cssrewrite,?yui_css" output='css/min/backend-*.css'
    'css/base.css'
    'css/tables.css'
    'css/forms.css'
    'css/tinymce.css'
    'bundles/aitorgarciaportfolio/css/admin_project.css'
%}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
<script src="{{ asset('bundles/aitorgarciaportfolio/js/project-screenshot-rows.js') }}" type="text/javascript"></script>
{% endblock %}

{% block infotext %}{{ 'projects.title.translate' | trans({'%project_name%': project_name, '%project_locale%': (project_locale | locale(current_locale) | lower)}) }}{% endblock %}

{% block page %}
<div class="row">
    <div id="project-translation-edit" class="block col-sm-12">
        <form action="{{ path('portfolio_admin_project_translation_edit', { 'id': project_id, 'transLocale': project_locale }) }}" method="post" {{ form_enctype(form) }}>
            <fieldset>
                <div class="row">
                    <div class="form-group block col-sm-12">
                        {{ form_label(form.name, 'field.name' | trans ) }}
                        {{ form_widget(form.name) }}
                        {{ form_errors(form.name) }}
                    </div>
                    <div class="form-group block col-sm-12">
                        {{ form_label(form.description, 'field.description' | trans ) }}
                        {{ form_widget(form.description) }}
                        {{ form_errors(form.description) }}
                    </div>
                </div>
                {{ form_widget(form._token) }}
            </fieldset>
            <fieldset>
                <div class="row">
                    <h2>{{ 'projects.legend.images' | trans }}</h2>
                    <div id="screenshots" class="block col-sm-12" data-empty="{% filter escape %}<div class="alert alert-warning">{{ 'projects.message.no_screenshots' | trans }}</div>{% endfilter %}">
                        {% for screenshot in form.screenshots %}
                            {% include 'AitorGarciaPortfolioBundle:Admin:project_translation_screenshot_row.html.twig' with {'screenshot': screenshot} %}
                        {% else %}
                            <div class="alert alert-warning">{{ 'projects.message.no_screenshots' | trans }}</div>
                        {% endfor %}
                    </div>
                </div>
            </fieldset>
            <div id="form-actions">
                <input class="btn btn-primary" type="submit" name="save" value="{{ 'button.save_changes' | trans }}" />
            </div>
        </form>
    </div>
</div>

{{ tinymce_init() }}

<script type="text/javascript">
    $(function() {
        // Replace the submit input with a button+icon
        var inputSave = $('input[name="save"]');

        var btnSave = $('<button>').attr({
            'type': 'submit',
            'name': 'save'
        });
        btnSave.addClass('btn btn-primary btn-icon');
        btnSave.append('<span class="icon icon-submit"></span>' + "{{ 'button.save_changes' | trans }}");

        inputSave.replaceWith(btnSave);
    });
</script>
{% endblock %}
