{% extends "::layout.html.twig" %}

{% block stylesheets %}
{% stylesheets filter="cssrewrite,?yui_css" output='css/backend-*.css'
    'css/main.css'
    'css/tables.css'
%}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block subnavigation %}
<ul class="actions">
    <li class="active"><a href="{{ path('admin_project_list') }}">{{ 'subnavigation.admin.list' | trans }}</a></li>
    <li><a href="{{ path('admin_project_create') }}">{{ 'subnavigation.admin.create' | trans }}</a></li>
</ul>
{{ parent() }}
<div class="clear"></div>
{% endblock %}

{% block page %}
{% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
        <div class="message-{{ type }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

<table>
    <thead>
        <tr>
            <th class="shrink">{{ 'projects.admin.id' | trans }}</th>
            <th>{{ 'projects.admin.name' | trans }}</th>
            <th>{{ 'projects.admin.link' | trans }}</th>
            <th class="shrink">{{ 'projects.admin.translations' | trans }}</th>
            <th class="shrink">{{ 'projects.admin.actions' | trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for project in projects %}
        <tr>
            <td class="centered">{{ project.id }}</td>
            <td>{{ project.name }}</td>
            <td>{{ project.link }}</td>
            <td class="centered">
                <a class="button-img" href="{{ path('admin_project_translation_edit', { 'id': project.id, 'lang': 'en' }) }}" title="{{ 'lang.english' | trans }}">EN</a>
            </td>
            <td class="centered">
                <a class="button-img" href="{{ path('admin_project_edit', { 'id': project.id }) }}" title="{{ 'projects.admin.action_edit' | trans }}"><img src="/bundles/aitorgarciaportfolio/images/edit.png" alt="{{ 'projects.admin.action_edit' | trans }}" /></a>
                <a class="button-img" href="{{ path('admin_project_delete', { 'id': project.id }) }}" title="{{ 'projects.admin.action_delete' | trans }}"><img src="/bundles/aitorgarciaportfolio/images/delete.png" alt="{{ 'projects.admin.action_delete' | trans }}" /></a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td class="centered" colspan="5">{{ 'projects.empty_list' | trans }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
