{% extends "::admin_layout.html.twig" %}

{% block navigation %}
<li><a href="{{ path('admin_index') }}">Portada</a></li>
<li><a href="{{ path('admin_project_list') }}">Proyectos</a></li>
<li class="active"><a href="{{ path('admin_technology_list') }}">Tecnologías</a></li>
{% endblock %}

{% block subnavigation %}
<ul>
    <li><a href="{{ path('admin_technology_list') }}">Lista</a></li>
    <li><a href="{{ path('admin_technology_create') }}">Crear</a></li>
    <div class="clear"></div>
</ul>
{% endblock %}

{% block page %}
<h2>Eliminar tecnología</h2>
<form action="{{ path('admin_technology_delete', { 'id': technology_id }) }}" method="post">
    <p>¿Estás seguro de que quieres eliminar la tecnología?</p>

    {{ form_rest(form) }}

	<input class="button" type="submit" name="save" value="Confirmar" />
	<input class="button" type="submit" name="cancel" value="Cancelar" />
</form>
{% endblock %}
