{% extends "::layout.html.twig" %}

{% block stylesheets %}
{% stylesheets filter="cssrewrite,?yui_css" output='css/backend-*.css'
    'css/main.css'
%}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block subnavigation %}
<ul>
    <li><a href="{{ path('admin_technology_list') }}">{{ 'subnavigation.admin.list' | trans }}</a></li>
    <li><a href="{{ path('admin_technology_create') }}">{{ 'subnavigation.admin.create' | trans }}</a></li>
    <div class="clear"></div>
</ul>
{% endblock %}

{% block page %}
<h2>{{ 'technologies.admin.delete_technology' | trans }}</h2>
<form action="{{ path('admin_technology_delete', { 'id': technology_id }) }}" method="post">
    <p>{{ 'technologies.admin.confirm_deletion' | trans }}</p>
    {{ form_rest(form) }}
	<input class="button" type="submit" name="save" value="{{ 'form.confirm' | trans }}" />
	<input class="button" type="submit" name="cancel" value="{{ 'form.cancel' | trans }}" />
</form>
{% endblock %}
