{% extends "::base_admin.html.twig" %}

{% block stylesheets %}
{% stylesheets filter="cssrewrite,?yui_css" output='css/min/backend-*.css'
    'css/base.css'
    'css/tables.css'
    'css/forms.css'
    'bundles/aitorgarciaportfolio/css/admin_technology.css'
%}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block infotext %}{{ 'technologies.title.create' | trans }}{% endblock %}

{% block page %}
<div class="row">
    <div id="technology-create" class="block col-sm-12">
        <form action="{{ path('admin_technology_create') }}" method="post" {{ form_enctype(form) }}>
            <fieldset>
                <div class="row">
                    <div class="form-group block col-sm-12">
                        {{ form_label(form.name, 'field.name' | trans ) }}
                        {{ form_widget(form.name) }}
                        {{ form_errors(form.name) }}
                    </div>
                </div>
                {{ form_widget(form._token) }}
            </fieldset>
            <div id="form-actions">
                <input class="btn btn-primary" type="submit" name="save" value="{{ 'button.create' | trans }}" />
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        // Replace the submit input with a button+icon
        var inputSave = $('input[name="save"]');

        var btnSave = $('<button>').attr({
            'type': 'submit',
            'name': 'save'
        });
        btnSave.addClass('btn btn-primary btn-icon');
        btnSave.append('<span class="icon icon-submit"></span>' + "{{ 'button.create' | trans }}");

        inputSave.replaceWith(btnSave);
    });
</script>
{% endblock %}
