{% extends "::admin_layout.html.twig" %}

{% block stylesheets %}
{% stylesheets
    'css/main.css'
    'css/forms.css'
    'bundles/portfolio/css/admin.css'
    output='css/backend-*.css' filter="cssrewrite" %}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block navigation %}
<li><a href="{{ path('admin_index') }}">Portada</a></li>
<li><a href="{{ path('admin_project_list') }}">Proyectos</a></li>
<li class="active"><a href="{{ path('admin_technology_list') }}">Tecnologías</a></li>
{% endblock %}

{% block subnavigation %}
<ul>
    <li><a href="{{ path('admin_technology_list') }}">Lista</a></li>
    <li class="active"><a href="{{ path('admin_technology_create') }}">Crear</a></li>
    <div class="clear"></div>
</ul>
{% endblock %}

{% block page %}
<h2>Nueva tecnología</h2>
<form action="{{ path('admin_technology_create') }}" method="post">
	<fieldset>
		<legend>Información de la tecnología</legend>

        <div class="_100">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
        </div>

        {{ form_rest(form) }}
    </fieldset>

	<input class="button" type="submit" name="save" value="Guardar" />
</form>
{% endblock %}
