{% extends "PortfolioBundle::admin_layout.html.twig" %}

{% block navigation %}
<li><a href="{{ path('admin_index') }}">Portada</a></li>
<li><a href="{{ path('admin_project_list') }}">Proyectos</a></li>
<li class="active"><a href="{{ path('admin_technology_list') }}">Tecnologías</a></li>
{% endblock %}

{% block subnavigation %}
<ul>
    <li class="active"><a href="{{ path('admin_technology_list') }}">Lista</a></li>
    <li><a href="{{ path('admin_technology_create') }}">Crear</a></li>
    <div class="clear"></div>
</ul>
{% endblock %}

{% block page %}
{% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
        <div class="message {{ type }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

<table>
    <thead>
        <tr>
            <th class="shrink">ID</th>
            <th>Nombre</th>
            <th class="shrink">Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for technology in technologies %}
        <tr>
            <td class="centered">{{ technology.id }}
            <td>{{ technology.name }}</td>
            <td>
                <a href="{{ path('admin_technology_edit', { 'id': technology.id }) }}">Modificar</a>
                <a href="{{ path('admin_technology_delete', { 'id': technology.id }) }}">Eliminar</a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td>No hay ninguna tecnología</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
