{% extends "::base_admin.html.twig" %}

{% block stylesheets %}
{% stylesheets filter="cssrewrite,?yui_css" output='css/min/backend-*.css'
    'css/base.css'
    'css/tables.css'
    'css/forms.css'
    'bundles/aitorgarciaportfolio/css/admin_technology.css'
%}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block infotext %}{{ 'technologies.title.list' | trans }}{% endblock %}

{% block page %}
<div id="options" class="row">
    <div id="actions" class="block pull-right">
        <a href="{{ path('portfolio_admin_technology_create') }}" class="btn btn-primary btn-icon">
            <span class="icon icon-add"></span>{{ 'button.create' | trans }}
        </a>
    </div>
</div>

{% if app.session.flashbag.keys() is not empty %}
<div id="alerts" class="row">
    {% for type, messages in app.session.flashbag.all() %}
    <div class="alert alert-dismissable alert-{{ type }}">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endif %}

<div class="row">
    <div id="technology-list" class="block col-sm-12">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="shrink text-center">{{ 'field.id' | trans }}</th>
                        <th>{{ 'field.name' | trans }}</th>
                        <th class="shrink text-center">{{ 'field.actions' | trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for technology in technologies %}
                    <tr>
                        <td class="text-center">{{ technology.id }}</td>
                        <td>{{ technology.name }}</td>
                        <td class="text-center nowrap">
                            <a class="btn btn-primary btn-icon btn-icon-notext" href="{{ path('portfolio_admin_technology_edit', { 'id': technology.id }) }}" title="{{ 'button.edit_ext' | trans }}">
                                <span class="icon icon-edit">{{ 'button.edit' | trans }}</span>
                            </a>
                            <a class="btn btn-danger btn-icon btn-icon-notext" href="{{ path('portfolio_admin_technology_delete', { 'id': technology.id }) }}" title="{{ 'button.delete_ext' | trans }}">
                                <span class="icon icon-cancel">{{ 'button.delete' | trans }}</span>
                            </a>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="5">{{ 'technologies.message.empty_list' | trans }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {{ knp_pagination_render(technologies) }}
</div>
{% endblock %}
