{% extends "::layout.html.twig" %}

{% block stylesheets %}
{% stylesheets filter="cssrewrite,?yui_css" output='css/backend-*.css'
    'css/main.css'
    'css/forms.css'
%}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block subnavigation %}
<ul>
    <li><a href="{{ path('admin_technology_list') }}">{{ 'subnavigation.admin.list' | trans }}</a></li>
    <li class="active"><a href="{{ path('admin_technology_edit', { 'id': technology_id }) }}">{{ 'subnavigation.admin.edit' | trans }}</a></li>
    <div class="clear"></div>
</ul>
{% endblock %}

{% block page %}
<h2>{{ 'technologies.admin.edit_technology' | trans }}</h2>
<form action="{{ path('admin_technology_edit', { 'id': technology_id }) }}" method="post">
	<fieldset>
		<legend>{{ 'technologies.admin.technology_info' | trans }}</legend>
        <div class="_100">
            {{ form_label(form.name, 'form.name' | trans ) }}
            {{ form_widget(form.name) }}
            {{ form_errors(form.name) }}
        </div>
        {{ form_rest(form) }}
    </fieldset>
	<input class="button" type="submit" name="save" value="{{ 'form.send' | trans }}" />
</form>
{% endblock %}
