{% extends "::admin_layout.html.twig" %}

{% block stylesheets %}
{% stylesheets filter="cssrewrite,?yui_css" output='css/backend-*.css'
    'css/main.css'
    'bundles/portfolio/css/admin.css'
%}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block navigation %}
<li><a href="{{ path('admin_index') }}">Portada</a></li>
<li><a href="{{ path('admin_project_list') }}">Proyectos</a></li>
<li class="active"><a href="{{ path('admin_technology_list') }}">Tecnologías</a></li>
{% endblock %}

{% block subnavigation %}
<ul>
    <li class="active"><a href="{{ path('admin_technology_list') }}">Lista</a></li>
    <li><a href="{{ path('admin_technology_create') }}">Crear</a></li>
    <div class="clear"></div>
</ul>
{% endblock %}

{% block page %}
{% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
        <div class="message-{{ type }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

<table>
    <thead>
        <tr>
            <th class="shrink">ID</th>
            <th>Nombre</th>
            <th class="shrink">Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for technology in technologies %}
        <tr>
            <td class="centered">{{ technology.id }}</td>
            <td>{{ technology.name }}</td>
            <td class="centered">
                <a class="button-img" href="{{ path('admin_technology_edit', { 'id': technology.id }) }}" title="Modificar la tecnología"><img src="/bundles/portfolio/images/edit.png" alt="Modificar" /></a>
                <a class="button-img" href="{{ path('admin_technology_delete', { 'id': technology.id }) }}" title="Eliminar la tecnología"><img src="/bundles/portfolio/images/delete.png" alt="Eliminar" /></a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td class="centered" colspan="3">No hay ninguna tecnología</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
