{% extends "::base_admin.html.twig" %}

{% block stylesheets %}
{% stylesheets filter="cssrewrite,?yui_css" output='css/backend-*.css'
    'css/base.css'
    'bundles/aitorgarciaportfolio/css/admin_technology.css'
%}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block infotext %}{{ 'technologies.title.delete' | trans }}{% endblock %}

{% block page %}
<div class="row">
    <div id="technology-delete" class="block">
        <form action="{{ path('admin_technology_delete', { 'id': technology_id }) }}" method="post">
            <div class="row">
                <div class="block">
                    <p>{{ 'technologies.message.confirm_deletion' | trans }}</p>
                </div>
            </div>
            {{ form_rest(form) }}

            <div id="form-actions">
                <input class="btn btn-success" type="submit" name="save" value="{{ 'button.confirm' | trans }}" />
                <input class="btn btn-danger" type="submit" name="cancel" value="{{ 'button.cancel' | trans }}" />
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        // Replace every input with a button+icon
        var inputConfirm = $('input[name="save"]');
        var inputCancel = $('input[name="cancel"]');

        var btnConfirm = $('<button>').attr({
            'type': 'submit',
            'name': 'save'
        });
        btnConfirm.addClass('btn btn-success btn-icon');
        btnConfirm.append('<span class="icon icon-accept"></span>' + "{{ 'button.confirm' | trans }}");

        var btnCancel = $('<button>').attr({
            'type': 'submit',
            'name': 'cancel'
        });
        btnCancel.addClass('btn btn-danger btn-icon');
        btnCancel.append('<span class="icon icon-cancel"></span>' + "{{ 'button.cancel' | trans }}");

        inputConfirm.replaceWith(btnConfirm);
        inputCancel.replaceWith(btnCancel);
    });
</script>
{% endblock %}
