{% extends "::layout.html.twig" %}

{% block title %}{{ 'technologies.title.create' | trans }} - Aitor García (Backend){% endblock %}

{% block stylesheets %}
{% stylesheets filter="cssrewrite,?yui_css" output='css/backend-*.css'
    'css/main.css'
    'css/forms.css'
%}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block subnavigation %}
<ul class="actions">
    <li><a href="{{ path('admin_technology_list') }}">{{ 'button.list' | trans }}</a></li>
    <li class="active"><a href="{{ path('admin_technology_create') }}">{{ 'button.create' | trans }}</a></li>
</ul>
{{ parent() }}
<div class="clear"></div>
{% endblock %}

{% block page %}
<h2>{{ 'technologies.title.create' | trans }}</h2>
<form action="{{ path('admin_technology_create') }}" method="post">
	<fieldset>
		<legend>{{ 'technologies.legend.info' | trans }}</legend>
        <div class="_100">
            {{ form_label(form.name, 'field.name' | trans ) }}
            {{ form_widget(form.name) }}
            {{ form_errors(form.name) }}
        </div>
        {{ form_rest(form) }}
    </fieldset>
	<input class="button" type="submit" name="save" value="{{ 'button.send' | trans }}" />
</form>
{% endblock %}
