{% extends "::base.html.twig" %}

{% block stylesheets %}
{% stylesheets filter="cssrewrite,?yui_css" output='css/frontend-*.css'
    'css/base.css'
    'bundles/aitorgarciaportfolio/css/project_show.css'
%}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
<script src="/js/jquery.glide.min.js"></script>
{% endblock %}

{% block title %}{{ project.name }} - Aitor García{% endblock %}

{% block infotext %}{{ project.name }}{% endblock %}

{% block page %}
<div class="row">
    <div id="project-screenshots" class="block col-sm-6">
        <div class="slider">
        {% if project.screenshots is empty %}
            <img src="/files/no-project-screenshot.jpg" alt="{{ project.name }}" title="{{ project.name }}" />
        {% else %}
            <ul class="slides bg-dark-diamonds">
            {% for screenshot in project.screenshots %}
                <li class="slide">
                    <img src="/{{ screenshot.getWebPath() }}" alt="{{ screenshot.name }}" title="{{ screenshot.name }}" />
                </li>
            {% endfor %}
            </ul>
        {% endif %}
        </div>
    </div>
    <div id="project-info" class="block col-sm-6">
        <div class="row">
            <div class="block">
                <h3>{{ 'field.description' | trans }}</h3>
                {{ project.description | raw }}
            </div>
        </div>
        {% if project.client is not empty %}
        <div class="row">
            <div id="project-client" class="block">
                <span class="icon icon-client" title="{{ 'field.client' | trans }}">{{ 'field.client' | trans }}:</span>
                <span class="client-content">{{ project.client }}</span>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div id="project-technologies" class="block">
                <span class="icon icon-tag" title="{{ 'field.technologies' | trans }}">{{ 'field.technologies' | trans }}:</span>
                <span class="technologies-content">
                {% for technology in project.technologies -%}
                    {{ technology.name }}{% if not loop.last %}, {% endif %}
                {%- endfor -%}
                </span>
            </div>
        </div>
        <div class="row">
            <div id="project-actions" class="block">
                <a class="btn btn-primary btn-icon" href="{{ project.link }}">
                    <span class="icon icon-view"></span>{{ 'button.view_project' | trans }}
                </a>
                {%- if project.sourceLink is not empty -%}
                    <a class="btn btn-primary btn-icon" href="{{ project.sourceLink }}">
                        <span class="icon icon-source-code"></span>{{ 'button.source_code' | trans }}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        $('.slider').glide({
            autoplay: 5000,
            animationTime: 500,
            arrows: true,
            arrowsWrapperClass: 'slider-buttons',
            arrowMainClass: 'slider-button',
            arrowRightClass: 'slider-next',
            arrowLeftClass: 'slider-prev',
            nav: true,
            navClass: 'slider-nav',
            navItemClass: 'slider-nav-item',
            navCurrentItemClass: 'slider-nav-item-active'
        });
    });
</script>

{% endblock %}
