{% extends "PortfolioBundle::layout.html.twig" %}

{% block navigation %}
<li><a href="{{ path('index') }}">Portada</a></li>
<li class="active"><a href="{{ path('project_list') }}">Proyectos</a></li>
<li><a href="#">Contacto</a></li>
{% endblock %}

{% block subnavigation %}
<p>En esta sección puedes encontrar información sobre mis trabajos.</p>
{% endblock %}

{% block page %}
{% if projects is empty %}
<p> No hay ningún proyecto.</p>
{% else %}
<ul id="project-list">
{% for project in projects %}
    <li>
        <a href="#">
        {% if project.screenshots is empty %}
            <img src="/files/no-project-screenshot.jpg" alt="{{ project.name }}" />
            <span>{{ project.name }}</span>
        {% else %}
            <img src="/{{ project.screenshots[0].getThumbWebPath() }}" alt="{{ project.name }}" />
            <span>{{ project.name }}</span>
        {% endif %}
        </a>
    </li>
{% endfor %}
</ul>
<div class="clear"></div>
{% endif %}
{% endblock %}
