{% extends "::layout.html.twig" %}

{% block navigation %}
<li><a href="{{ path('index') }}">{{ 'navigation.index' | trans }}</a></li>
<li class="active"><a href="{{ path('project_list') }}">{{ 'navigation.projects' | trans }}</a></li>
<li><a href="{{ path('contact') }}">{{ 'navigation.contact' | trans }}</a></li>
{% endblock %}

{% block subnavigation %}
<h2>{{ 'titles.some_projects' | trans }}</h2>
{{ parent() }}
{% endblock %}

{% block page %}
{% if projects is empty %}
<p>{{ 'projects.empty_list' | trans }}</p>
{% else %}
<ul id="project-list">
{% for project in projects %}
    <li class="{{ cycle(['odd', 'even'], loop.index0) }}">
        <a class="project bg-dark-diamonds" href="{{ path('project_show', { 'url': project.url }) }}">
        {% if project.screenshots is empty %}
            <img src="/files/no-project-screenshot.jpg" alt="{{ project.name }}" title="{{ project.name }}" />
        {% else %}
            <img src="/{{ project.screenshots[0].getWebPath() }}" alt="{{ project.name }}" title="{{ project.name }}" />
        {% endif %}
            <span>{{ project.name }}</span>
        </a>
    </li>
{% endfor %}
</ul>
<div class="clear"></div>
{% endif %}
{% endblock %}
