{% extends "::base.html.twig" %}

{% block stylesheets %}
{% stylesheets filter="cssrewrite,?yui_css" output='css/min/frontend-*.css'
    'css/base.css'
    'bundles/aitorgarciaportfolio/css/project_list.css'
    'bundles/aitorgarciaportfolio/css/project_show.css'
%}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
<script src="/js/jquery.glide.min.js"></script>
{% endblock %}

{% block title %}{{ project.name }} - Aitor García{% endblock %}

{% block infotext %}{{ project.name }}{% endblock %}

{% block page %}
<div id="project-show" class="row">
    <div id="project-screenshots" class="block col-md-6">
        <div class="slider">
            <ul class="slides bg-dark-diamonds">
            {% if project.screenshots is empty %}
            <li class="slide">
                <img src="/files/no-project-screenshot.png" alt="{{ project.name }}" title="{{ project.name }}" />
            </li>
            {% else %}
                {% for screenshot in project.screenshots %}
                <li class="slide">
                    <img src="/{{ screenshot.getWebPath() }}" alt="{{ screenshot.name }}" title="{{ screenshot.name }}" />
                </li>
                {% endfor %}
            {% endif %}
            </ul>
        </div>
        <div id="project-actions" style="padding-top: 0; padding-bottom: 0;">
            <a class="btn btn-primary btn-icon" href="{{ project.link }}">
                <span class="icon icon-view"></span>{{ 'button.view_project' | trans }}
            </a>
            {%- if project.sourceLink is not empty -%}
            <a class="btn btn-primary btn-icon" href="{{ project.sourceLink }}">
                <span class="icon icon-source-code"></span>{{ 'button.source_code' | trans }}
            </a>
            {% endif %}
        </div>
    </div>
    <div id="project-info" class="block col-md-6">
        <div class="row">
            <div id="project-description" class="block col-sm-12">
                <h2>{{ 'field.description' | trans }}</h2>
                {{ project.description | raw }}
            </div>
        </div>
        {% if project.client is not empty %}
        <div class="row">
            <div id="project-client" class="block col-sm-12">
                <h2>{{ 'field.client' | trans }}</h2>
                <p class="client-content">{{ project.client }}</p>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div id="project-technologies" class="block col-sm-12">
                <h2>{{ 'field.technologies' | trans }}</h2>
                {% spaceless %}
                <ul class="tags list-inline">
                    {% for technology in project.technologies %}
                    <li><a href="{{ path('portfolio_project_list_by_technology', { 'slug': technology.slug }) }}">{{ technology.name }}</a></li>
                    {% endfor %}
                </ul>
                {% endspaceless %}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        $('.slider').glide({
            autoplay: 5000,
            animationTime: 500,
            arrows: true,
            arrowsWrapperClass: 'slider-buttons',
            arrowMainClass: 'slider-button',
            arrowRightClass: 'slider-next',
            arrowLeftClass: 'slider-prev',
            nav: true,
            navClass: 'slider-nav',
            navItemClass: 'slider-nav-item',
            navCurrentItemClass: 'slider-nav-item-active'
        });
    });
</script>

{% endblock %}
