{% extends "::layout.html.twig" %}

{% block stylesheets %}
{% stylesheets filter="cssrewrite,?yui_css" output='css/frontend-*.css'
    'css/main.css'
    'bundles/portfolio/css/project.css'
%}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block subnavigation %}
<h2>{{ 'titles.some_projects' | trans }}</h2>
{{ parent() }}
{% endblock %}

{% block page %}
{% if projects is empty %}
<p>{{ 'projects.empty_list' | trans }}</p>
{% else %}
<ul id="project-list">
{% for project in projects %}
    <li class="{{ cycle(['odd', 'even'], loop.index0) }}">
        <a class="project bg-dark-diamonds" href="{{ path('project_show', { 'url': project.url }) }}">
        {% if project.screenshots is empty %}
            <img src="/files/no-project-screenshot.jpg" alt="{{ project.name }}" title="{{ project.name }}" />
        {% else %}
            <img src="/{{ project.screenshots[0].getWebPath() }}" alt="{{ project.name }}" title="{{ project.name }}" />
        {% endif %}
            <span>{{ project.name }}</span>
        </a>
    </li>
{% endfor %}
</ul>
<div class="clear"></div>
{% endif %}
{% endblock %}
