{% extends "::base.html.twig" %}

{% block stylesheets %}
{% stylesheets filter="cssrewrite,?yui_css" output='css/min/frontend-*.css'
    'css/base.css'
    'bundles/aitorgarciaportfolio/css/project_list.css'
    'bundles/aitorgarciaportfolio/css/project_show.css'
%}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block title %}{{ 'projects.title.list' | trans }} - Aitor García{% endblock %}

{% block infotext %}{{ 'projects.subnavigation.project_list' | trans }}{% endblock %}

{% block page %}
<div id="project-list" class="row">
    <div id="projects" class="clear">
        {% for project in projects %}
        <div class="block col-sm-6 col-md-4">
            <a class="project" href="{{ path('portfolio_project_show', { 'slug': project.slug }) }}">
                <div>
                {% if project.screenshots is empty %}
                    <img class="project-cover" src="/files/no-project-screenshot.png" alt="{{ project.name }}" title="{{ project.name }}" />
                {% else %}
                    <img class="project-cover" src="/{{ project.screenshots[0].getWebPath() }}" alt="{{ project.name }}" title="{{ project.name }}" />
                {% endif %}
                </div>
                <span class="project-name">{{ project.name }}</span>
            </a>
        </div>
        {% else %}
        <div class="block col-sm-12">
            <p>{{ 'projects.message.empty_list' | trans }}</p>
        </div>
        {% endfor %}
    </div>
    {{ knp_pagination_render(projects) }}
</div>
{% endblock %}
