{% extends "::base.html.twig" %}

{% block stylesheets %}
{% stylesheets filter="cssrewrite,?yui_css" output='css/min/frontend-*.css'
    'css/base.css'
    'bundles/aitorgarciablog/css/post_list.css'
%}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block title %}{{ 'posts.title.list' | trans }} - Aitor García{% endblock %}

{% block infotext %}{{ 'posts.subnavigation.post_list' | trans }}{% endblock %}

{% block page %}
<div id="post-list" class="row">
    <div id="posts" class="block col-md-9">
    {% for post in posts %}
        <div class="post row">
            <div class="block col-sm-12">
                <h2>
                    <a href="{{ path('blog_post_show', { 'slug': post.slug }) }}">{{ post.title }}</a>
                </h2>
                <div class="post-info">
                    <span class="date">{{ post.createdAt | date('d/F/Y') }}</span>
                </div>
                <div class="post-body">
                {% set numParagraphs = 3 %}
                {% set paragraphs = post.body | split('<br /><br />') %}
                {% for i in 0..(numParagraphs - 1) %}
                    {% if paragraphs[i] is defined %}
                        <p>{{ paragraphs[i] | raw }}</p>
                    {% endif %}
                {% endfor %}
                {% if (paragraphs | length) > numParagraphs %}
                    <p>(...)</p>
                {% endif %}
                </div>
                {% if post.tags is not empty %}
                <div class="post-tags">
                    <ul class="tags list-inline">
                    {% for tag in post.tags %}
                        <li><span>{{ tag.name }}</span></li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="block col-sm-12">
            <p>{{ 'posts.message.empty_list' | trans }}</p>
        </div>
    {% endfor %}
    </div>
    <div id="sidebar" class="block col-md-3">
        <div class="row">
            <div class="block col-sm-12">
                <h3>Block 1</h3>
            </div>
        </div>
        <div class="row">
            <div class="block col-sm-12">
                <h3>Block 2</h3>
            </div>
        </div>
        <div class="row">
            <div class="block col-sm-12">
                <h3>Block 3</h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}
