{% extends "::base.html.twig" %}

{% block stylesheets %}
{% stylesheets filter="cssrewrite,?yui_css" output='css/frontend-*.css'
    'css/base.css'
    'css/forms.css'
    'bundles/aitorgarciaportfolio/css/contact.css'
%}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block title %}{{ 'contact.title' | trans }} - Aitor García{% endblock %}

{% block infotext %}{{ 'contact.subnavigation' | trans }}{% endblock %}

{% block page %}
<div class="row">
{% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
    <div class="message-{{ type }} block">
        {{ message }}
    </div>
    {% endfor %}
{% endfor %}

    {{ form_errors(form) }}

    <div id="contact-form" class="block">
        <form action="{{ path('contact') }}" method="post" {{ form_enctype(form) }}>
            <fieldset>
                <div class="row">
                    <div class="form-group block col-sm-4">
                        {{ form_label(form.name, 'field.name' | trans ) }}
                        {{ form_widget(form.name) }}
                        {{ form_errors(form.name) }}
                    </div>
                    <div class="form-group block col-sm-4">
                        {{ form_label(form.email, 'field.email' | trans ) }}
                        {{ form_widget(form.email) }}
                        {{ form_errors(form.email) }}
                    </div>
                    <div class="form-group block col-sm-4">
                        {{ form_label(form.subject, 'field.subject' | trans ) }}
                        {{ form_widget(form.subject) }}
                        {{ form_errors(form.subject) }}
                    </div>
                    <div class="form-group block">
                        {{ form_label(form.body, 'field.body' | trans ) }}
                        {{ form_widget(form.body) }}
                        {{ form_errors(form.body) }}
                    </div>
                </div>
                {{ form_rest(form) }}
            </fieldset>
            <input class="btn btn-primary" type="submit" name="send" value="{{ 'button.send' | trans }}" />
        </form>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        // Replace the submit input with a button+icon
        var inputSend = $('input[name="send"]');

        var btnSend = $('<button>').attr('type', 'submit').addClass('btn btn-primary btn-icon');
        btnSend.append('<span class="icon icon-accept"></span>' + '{{ 'button.send' | trans }}');

        inputSend.replaceWith(btnSend);
    });
</script>
{% endblock %}
