{% extends "::layout.html.twig" %}

{% block navigation %}
<li><a href="{{ path('index') }}">{{ 'navigation.index' | trans }}</a></li>
<li><a href="{{ path('project_list') }}">{{ 'navigation.projects' | trans }}</a></li>
<li class="active"><a href="{{ path('contact') }}">{{ 'navigation.contact' | trans }}</a></li>
{% endblock %}

{% block subnavigation %}
<h2>{{ 'titles.contact' | trans }}</h2>
{{ parent() }}
{% endblock %}

{% block page %}
{% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
        <div class="message-{{ type }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

{{ form_errors(form) }}
<form action="{{ path('contact') }}" method="post" {{ form_enctype(form) }}>
	<fieldset>
		<legend>{{ 'form.information' | trans }}</legend>
        <div class="_50">
            {{ form_label(form.name, 'form.name' | trans ) }}
            {{ form_widget(form.name) }}
            {{ form_errors(form.name) }}
        </div>
        <div class="_50">
            {{ form_label(form.email, 'form.email' | trans ) }}
            {{ form_widget(form.email) }}
            {{ form_errors(form.email) }}
        </div>
        <div class="_100">
            {{ form_label(form.subject, 'form.subject' | trans ) }}
            {{ form_widget(form.subject) }}
            {{ form_errors(form.subject) }}
        </div>
        <div class="_100">
            {{ form_label(form.body, 'form.body' | trans ) }}
            {{ form_widget(form.body) }}
            {{ form_errors(form.body) }}
        </div>
        {{ form_rest(form) }}
    </fieldset>
	<input class="button" type="submit" name="send" value="{{ 'form.send' | trans }}" />
</form>
{% endblock %}
