{% extends "::layout.html.twig" %}

{% block title %}{{ 'contact.title' | trans }} - Aitor García{% endblock %}

{% block stylesheets %}
{% stylesheets filter="cssrewrite,?yui_css" output='css/frontend-*.css'
    'css/main.css'
    'css/forms.css'
%}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
{% endstylesheets %}
{% endblock %}

{% block subnavigation %}
<h2>{{ 'contact.subnavigation.contact_form' | trans }}</h2>
{{ parent() }}
{% endblock %}

{% block page %}
{% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
        <div class="message-{{ type }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

{{ form_errors(form) }}
<form action="{{ path('contact') }}" method="post" {{ form_enctype(form) }}>
	<fieldset>
		<legend>{{ 'contact.legend.info' | trans }}</legend>
        <div class="_50">
            {{ form_label(form.name, 'field.name' | trans ) }}
            {{ form_widget(form.name) }}
            {{ form_errors(form.name) }}
        </div>
        <div class="_50">
            {{ form_label(form.email, 'field.email' | trans ) }}
            {{ form_widget(form.email) }}
            {{ form_errors(form.email) }}
        </div>
        <div class="_100">
            {{ form_label(form.subject, 'field.subject' | trans ) }}
            {{ form_widget(form.subject) }}
            {{ form_errors(form.subject) }}
        </div>
        <div class="_100">
            {{ form_label(form.body, 'field.body' | trans ) }}
            {{ form_widget(form.body) }}
            {{ form_errors(form.body) }}
        </div>
        {{ form_rest(form) }}
    </fieldset>
	<input class="button" type="submit" name="send" value="{{ 'button.send' | trans }}" />
</form>
{% endblock %}
