{% extends "PortfolioBundle::layout.html.twig" %}

{% block navigation %}
<li class="active"><a href="{{ path('index') }}">{{ 'navigation.index' | trans }}</a></li>
<li><a href="{{ path('project_list') }}">{{ 'navigation.projects' | trans }}</a></li>
<li><a href="{{ path('contact') }}">{{ 'navigation.contact' | trans }}</a></li>
{% endblock %}

{% block subnavigation %}
<h2>{{ 'subnavigation.index' | trans }}</h2>
{{ parent() }}
{% endblock %}

{% block page %}
<div id="block-aboutme" class="block">
    <h3>{{ 'titles.about_me' | trans }}</h3>
    <ul>
        <li id="icon-user">{{ 'index.info' | trans | raw }}</li>
        <li id="icon-web-dev">{{ 'index.web_dev' | trans | raw }}</li>
        <li id="icon-desktop-dev">{{ 'index.desktop_dev' | trans | raw }}</li>
        <li id="icon-server">{{ 'index.sys_admin' | trans | raw }}</li>
    </ul>
</div>
<div id="block-technologies" class="block">
    <h2>{{ 'titles.which_techs' | trans }}</h2>
    <img src="{{ asset('bundles/portfolio/images/technologies.png') }}" alt="{{ 'common.technologies' | trans }}" />
</div>
<div class="clear"></div>
{% endblock %}
